*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
#app{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    
    width: 400px;
    padding: 50px;
    align-content: center;
}
input{
    align-items: center;
}
#btn_add {
    
}

h1{
    padding: 20px;
}
#column_box{
    display: flex;
}

ul {
    list-style: square;
    background-color: beige;
    border-radius: 5%;
    margin: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

.btn_list{
    border-radius: 100%;
    font-size: 1.5rem;
    
}