*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
#app{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img{
    
    width: 50%;
    padding: 30px;
    align-content: center;
    border-radius: 100px;
}
input{
    align-items: center;
}


h1{
    padding-top: 20px;
    font-size: 3rem;
}
#column_box{
    display: flex;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

i{
    font-size: 1.5rem; 
    margin:5px;
}

.col{
    width: 30vw;
    height: 35vh;
    background-color: beige;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px blue, 10px 10px black;    
}
ul {
    height: 30vh;
    overflow-y: scroll;
}

h2{
    padding: 10px;
}
input{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}
#btn_add{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    margin-bottom: 30px;
}